.header {
  background-color: transparent;

  position: absolute; /* Чтобы задать контроль над позицией */
  //
  width: 100%;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.logo {
  position: relative;
  z-index: 90;
}
// элементам в хедере "head" "your body" etc просто выдавать position: relative; и
//   z-index: 90; чтобы они оказывались поверх background но не поверх nav-menu когда оно открывается
.container {
  width: 100%;
  position: relative; /* Чтобы задать контроль над позицией */
  padding-top: 20px;
}
