/* Base */
@import './base/vars';
@import './base/reset';
@import './base/base';
@import './base/utils';
@import './base/containers';
@import './base/sticky-footer';

/* Blocks */
@import './blocks/*.scss';

.background_photo {
  display: block;
  width: 100%;
  height: auto;

  z-index: 0;
}
